.WelcomeSection {
    text-align: center;
    padding: 40px 0;
}

.WelcomeSection-heading {
    font-size: 8rem;
}
.WelcomeSection-lead{
    font-size: 2rem;
    color: #7c7c7c;
}

.DemoSection {
    text-align: center;
    background-color: #DB5600;
    padding: 40px 0;
}

.DemoSection-movie {
    border-radius: 10px;
}

.AddSection {
    text-align: center;
    background-color: #39b54a;
    padding: 40px 0 60px 0;
    color: #fff;
}
.AddSection-heading{
    margin-bottom: 40px;
    font-size: 5rem;
}


.WebChatSection{
    text-align: center;
    background-color: #f2e8d5;
    padding: 40px 0;
    color: #835f48;
}
.WebChatSection-heading{
    font-size: 3.5rem;
    margin-bottom: 49px;
}
.WebChatSection-message{
    font-size: 2rem;
    margin: 40px 0;
}


.DiscussSection {
    background-color: #1C335A;
    text-align: center;
    padding: 40px 0 80px 0;
}

.DiscussSection-heading {
   font-size: 3.5rem;
   color: #FFFFFF;
   margin-bottom: 49px;
}
.DiscussSection-iframeWrap{
    position: relative;
    max-width: 885px;
    padding-bottom: 56.25%;
    margin: 0 auto;
}
.DiscussSection iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.Footer{
    background-color: #3e92d2;
    color: #fff;
    text-align: center;
    padding: 40px 0;
}
.Footer a{
    color: #fff;
    text-decoration: underline;
}
.Footer-profile{
    margin-bottom: 40px;
}


/* Bitcoin donate button */
.COINWIDGETCOM_CONTAINER.COINWIDGETCOM_LIGHT > a {
    background: #fff !important;
    color: #2e2e2e;
    display: inline-block;
    border-radius: 7px;
    border: 1px solid #d0d0d0;
    padding: 10px 15px 10px 20px !important;
    margin: 20px 0 0 0;
}
.COINWIDGETCOM_CONTAINER.COINWIDGETCOM_LIGHT > a:hover {
    background: #ebebeb !important;
}

